@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
     background: linear-gradient(122deg, rgb(72, 72, 221) 0%, rgba(86,38,142,1) 100%);
     font-family: 'Inter', sans-serif;
     background-repeat: no-repeat;
     background-size: cover;  
     width: 100%;
}
nav{
    background-color: rgba(159, 180, 219, 0.808);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgb(143, 184, 211); 
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;   
}
.logo-image{
    height: 80%;
    width: 10rem;
}
nav .nav-items{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-right: 50px;  
   
}
nav .nav-items a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}
nav .nav-items a:hover{
    text-decoration: underline;
}
#department-filter{
    padding: 10px;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: rgb(196, 203, 228);
}


.hero {
    color: white;
    padding: 50px 20px;
    text-align: center;
}
.hero-container {
    max-width: 1200px;
    margin: 0 auto;
}
.hero-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 550;
    line-height: 1.2;
    margin-bottom: 1 rem;
}
.hero-subtext {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    opacity: 0.9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.event-card {
    background: #F8F9FA;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 1rem;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
.event-image{
    width: 100%;
    height:260px;
    border: 2px solid black;
   
}
.event-status {
   font-size: 1.5rem;
   color: rgb(252, 4, 4);
   text-align: center;
}
.event-date{
    text-align: center;
}
.event-title {
    font-size: 1.5rem;
    color: rgb(52, 9, 247);
    text-align: center;
    margin: 0.2rem;
}
.event-description {
    font-size: 1rem;
    color: #0c0f2c;
    text-align: center;
    margin: 0.2rem;
}
.view-details {
    background: #223bca;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    text-align: center;   
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100px;
}
.view-details:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.view-details:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.registrations-closed {
    background: #ccc;
    color: #a00;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
}

footer {
    background: #28292b;
    color: #f4f5fa;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    max-width: 100%;
}

.footer-container {
  
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-info{
   width: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: start;
   text-align: left;
   margin: 1rem;
   gap: 1rem;
   margin-left: 2rem;
}

.footer-info p{
    color: rgb(207, 199, 199);
}
.media-icons{
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
    flex-direction: row;
}
#contact-us a{
    text-decoration: none;
    color: #f4f5fa;
}
#contact-us a:hover{
    color: rgb(245, 75, 13);

}
.copyright{
    background-color: #1b2b20;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab{
    color: red;
    font-size: 1.5rem;
    box-shadow: 2px 0px 5px orange;
    border-radius: 50%;
}



/*  HERO Responsive */

@media (max-width: 768px) {
    .hero-heading {
        font-size: 2.5rem;
    }
    
    .hero-subtext {
        font-size: 1.1rem;
    }
    
    .btn {
        width: 100%;
        text-align: center;
    }
    
    .buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .copyright p{
        font-size: 0.8rem;
    }

    
}